# 5.3 Data Profiling - Alias

In [2]:
import datetime
import os
import time
import pandas as pd 
import requests
import urllib3
import json
import sys
import numpy as np

pd.options.display.max_colwidth = 1000
pd.set_option('display.max_columns', None)

In [3]:
file = r'C:\Users\leona\OneDrive\Desktop\Tesi\Pipeline\Datasets\Pipeline\IocSegnalations\PostDataIntegration\Alias.csv'

In [4]:
df = pd.read_csv(file, low_memory = False )
df

                       malware            alias
0                cobalt strike        agentemis
1                 nanocore rat          nancrat
2                       remcos        remcosrat
3   loki password stealer  pws          burkina
4                        dcrat  darkcrystal rat
..                         ...              ...
71                 smokeloader     smoke loader
72                   ave maria         avemaria
73                     houdini           wshrat
74                     houdini          dinihou
75                     houdini           dunihi

[76 rows x 2 columns]

In [5]:
print("Duplicates: ",df.duplicated().any())
#total number of not null values
not_null_values = df.count().sum()
print("# not null values: ",not_null_values)
#total number of null values
null_values = df.isnull().sum().sum()
print("# null values: ",null_values)
#total number of cells
n_values = df.shape[0]*df.shape[1]
print("# values: ",n_values)
#we added to the set of missing values also 'na' and '--'
missing_values = ['na','--', 'NaN']
ds_property_nan = pd.read_csv(file, na_values = missing_values)
print("# missings: ",ds_property_nan.isnull().sum().sum())

Duplicates:  False
# not null values:  152
# null values:  0
# values:  152
# missings:  0

## Completeness

In [6]:
#COMPLETENESS evaluation
completeness = not_null_values / n_values
completeness = '{0:.1f}%'.format(completeness*100)
print(completeness)

100.0%

# Profiling Auto-report

In [ ]:
from ydata_profiling import ProfileReport

In [7]:
profile = ProfileReport(df, title="Integrated Dataset - Alias - Pandas Profiling Report")

profile.to_file("C:\\Users\\leona\\OneDrive\\Desktop\\Tesi\\Pipeline\\Report\\Profiling step 5\\IntegratedDataset\\Alias.html")

# As a JSON string
json_data = profile.to_json()

# As a file
profile.to_file("C:\\Users\\leona\\OneDrive\\Desktop\\Tesi\\Pipeline\\Report\\Profiling step 5\\IntegratedDataset\\Alias.json")

NameError: name 'ProfileReport' is not defined