# 06.3 Data Cleaning - Malwares

Thanks to the previous step, Data Profiling - Malwares

In [1]:
import datetime
import os
import time
import pandas as pd 
import requests
import urllib3
import json
import sys
import numpy as np
import math

pd.options.display.max_colwidth = 1000
pd.set_option('display.max_columns', None)

In [2]:
file = r'C:\Users\leona\OneDrive\Desktop\Tesi\Pipeline\Datasets\Pipeline\IocSegnalations\PostDataIntegration\Malwares.csv'

In [3]:
df = pd.read_csv(file, low_memory = False )
df

               malware     type
0               qakbot  unknown
1              pikabot  unknown
2        cobalt strike  unknown
3         nanocore rat  unknown
4               remcos  unknown
..                 ...      ...
65                loda  unknown
66             spynote  unknown
67           sectoprat  unknown
68           ghost rat  unknown
69  whitesnake stealer  unknown

[70 rows x 2 columns]

# Data Cleaning

### Error Correction - Missing value 
- Drop a row if one of the sub columns 'malware' , 'alias' is NaN
### Data Duplication
- Drop a row if it's duplicate

In [4]:
df.dropna(subset=['malware', 'type'], inplace=True)
df = df.reset_index(drop = True)
df

               malware     type
0               qakbot  unknown
1              pikabot  unknown
2        cobalt strike  unknown
3         nanocore rat  unknown
4               remcos  unknown
..                 ...      ...
65                loda  unknown
66             spynote  unknown
67           sectoprat  unknown
68           ghost rat  unknown
69  whitesnake stealer  unknown

[70 rows x 2 columns]

In [5]:
df = df.drop_duplicates()
df = df.reset_index(drop = True)

df

               malware     type
0               qakbot  unknown
1              pikabot  unknown
2        cobalt strike  unknown
3         nanocore rat  unknown
4               remcos  unknown
..                 ...      ...
65                loda  unknown
66             spynote  unknown
67           sectoprat  unknown
68           ghost rat  unknown
69  whitesnake stealer  unknown

[70 rows x 2 columns]

### Save dataset into DataWrangling folder

In [7]:
df.to_csv(r'C:\Users\leona\OneDrive\Desktop\Tesi\Pipeline\Datasets\Pipeline\IocSegnalations\IntegratedDataset\PostDataCleaning\Malwares.csv')